{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Welcome to our job search platform! We are dedicated to connecting job seekers with their dream careers and helping employers find the best talent.</p>
        <h2>Our Mission</h2>
        <p>Our mission is to simplify the job search process for both job seekers and employers. We strive to provide a user-friendly platform that offers comprehensive tools and resources to facilitate the hiring process.</p>
        <h2>Why Choose Us?</h2>
        <p>With our extensive database of job listings and powerful search filters, finding the perfect job or candidate has never been easier. We prioritize user experience and continuously update our platform to meet the evolving needs of the job market.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions, feedback, or inquiries, please don't hesitate to contact us.</p>
{% endblock content %}
