{% extends "blog/base.html" %}

{% block content %}
<!-- Search Form -->
<form method="get" action="{% url 'search_results' %}">
    <select name="state_code" multiple>
        <option value="">Select Your State</option>
        {% for state in states %}
            <option value="{{ state }}" {% if state in selected_states %}selected{% endif %}>{{ state }}</option>
        {% endfor %}
    </select>
    <input type="text" name="title" placeholder="Job Title">
    <input type="text" name="location" placeholder="Location">
    <!-- <select name="employment_type">
        <option value="">Any Type</option>
        <option value="Full Time">Full Time</option>
        <option value="Part Time">Part Time</option>
        Add other employment types here 
    </select> -->
    <input type="text" name="industries" placeholder="Industries">
    <button type="submit">Search</button>
</form>

<!-- Search Results -->
{% if page_obj %}
    {% for job in page_obj %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' job.agency %}">{{ job.agency }}</a>
                <span class="article-date">{{ job.formatted_actual_date }}</span>
            </div>
            <h2><a class="article-title">{{ job.job_title }}</a></h2>
            
            <!-- New line separating the link and description -->


            
            <p class="article-content">{{ job.description }}</p>
            <hr> <!-- This will add a horizontal line -->

            <div class="d-flex align-items-center">
                <a class="article-title mr-auto" href="{{ job.link }}" target="_blank">Click to apply!</a>
                <span class="ml-5">{{ job.employment_type }}</span>
            </div>
        </div>
    </article>
    {% endfor %}

    <!-- Pagination Links -->

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% else %}
    <p>No jobs found.</p>
{% endif %}
{% endblock content %}
